.idea/
*.iml
gen/com/android/settings/BuildConfig.java
gen/com/android/settings/Manifest.java
gen/com/android/settings/R.java
tests/anomaly-tester/gen/com/android/settings/anomaly/tester/BuildConfig.java
tests/anomaly-tester/gen/com/android/settings/anomaly/tester/Manifest.java
tests/anomaly-tester/gen/com/android/settings/anomaly/tester/R.java
tests/perftests/gen/com/android/settings/tests/perf/BuildConfig.java
tests/perftests/gen/com/android/settings/tests/perf/Manifest.java
tests/perftests/gen/com/android/settings/tests/perf/R.java
tests/robotests/gen/com/android/settings/BuildConfig.java
tests/robotests/gen/com/android/settings/Manifest.java
tests/robotests/gen/com/android/settings/R.java
tests/uitests/gen/com/android/settings/ui/BuildConfig.java
tests/uitests/gen/com/android/settings/ui/Manifest.java
tests/uitests/gen/com/android/settings/ui/R.java
tests/unit/gen/com/android/settings/tests/unit/BuildConfig.java
tests/unit/gen/com/android/settings/tests/unit/Manifest.java
tests/unit/gen/com/android/settings/tests/unit/R.java
tests/unit/InstrumentedEntitlementApp/gen/android/test/entitlement/BuildConfig.java
tests/unit/InstrumentedEntitlementApp/gen/android/test/entitlement/Manifest.java
tests/unit/InstrumentedEntitlementApp/gen/android/test/entitlement/R.java
